* {
    box-sizing: border-box;
    margin:0;
    padding: 0;

}
a{
    text-decoration: none;

}
.head-title{
    padding: 30px;
}
.nav-logo{
    font-size: 24px;
    font-weight: 500;
}
.nav-cat{
    margin-left: 40px;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid black;
}
.nav-cat:hover{
    border-bottom: 5px solid black;
    text-shadow: 2px 2px 4px #000000;
}
.category-image{
    width: 100%;
    border-radius: 8px;
}
.item-category-tab{
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}
.item-category-image{
    width: 100%;
    border-radius: 8px;
}
.price-category{
    font-size: 20px;
    font-weight: 500;
    color: green;
}
.explore-image{
    width: 100%;
}
.explore-item{
    border: 1px solid black;
}
.item-image{
    width: 100%;
}
.item-head-name{
    margin-top: 30px;
    padding: 10px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
}
.item-owner{
    padding: 10px;
}
.similar-item-image{
    width: 100%;
}
.search-bar, search-button{
    width: 90%;
}
.search-bar{
    padding: 10px;
     font-size: 20px;
     border-width: 2px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 6px;
     box-shadow: 0px 0px 0px rgba(66,66,66,.0);
     text-shadow: -50px 0px 0px rgba(248,248,248,.0);
}
.search-button{
box-shadow:inset 0px 1px 0px 0px #343a40;
	background:linear-gradient(to bottom, #343a40 5%, #343a40 100%);
	background-color: #343a40;
	border-radius:6px;
	border:1px solid #343a40;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.amount-items-category{
    font-size: 25px;
    font-weight: 300;
    padding: 20px;
}
.login-tab{
    margin-top: 100px;
    padding: 40px;
    margin-bottom: 150px;
    text-align: center;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    font-size: 18px;
}
.add-form{
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
    font-size: 18px;
}
.btn-add-new{
    width: 100%;
    margin-top: 20px;
}
.close-login-window{
    cursor: pointer;
    position: absolute;

    right: 20px;
    width: 32px;
    height: 32px;
    padding: 10px;
    z-index: 10;
}
.background-wrapper{
    margin-top: 500px;
    width: 100%;
    height: 200%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-wrapper{
    width: 800px;
    height: 400px;
    margin-top: 50px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    z-index: 10;
    border-radius: 10px;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    color: #141414;
    text-align: center;
}
.modal-content p {
    margin-bottom: 1rem;
}
.modal-content button{

    padding: 10px 24px;
    background: #141414;
    color: #fff;
    border: none;
}
.modal-content input {
    padding: 15px;
    margin-bottom: 10px;
    width:100%;
}
.messages{
    margin-top: 200px;
    width: 10%;
    padding: 20px;
    border-radius: 2px;
    background: #343a40;
    color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}